%div.modal.hide#credentials
  %div.modal-header
    %h3 API Credentials
  %div.modal-body
    %form.form-horizontal#credentials-form
      %fieldset
        %div.control-group
          %label.control-label{:for => "username"} Username
          %div.controls
            %input.input-xlarge{:id => "username", :name => "username"}
        %div.control-group
          %label.control-label{:for => "password"} Password
          %div.controls
            %input.input-xlarge{:id => "password", :name => "password", :type => "password"}
        %div.control-group
          %label.control-label{:for => "subdomain"} Subdomain
          %div.controls
            %input.input-xlarge{:id => "subdomain", :name => "url", :placeholder => "https://example.zendesk.com/api/v2/"}
        %div.control-group
          %div.controls
            %p#credentials-error


  %div.modal-footer
    %img.hide#credentials-spinner{:src => "/images/spinner.gif"}
    %input.btn.btn-primary#credentials-save{:type => 'submit', :value => 'OK'}
