%footer.container.footer
  %small
    We will never store your username, password or API token.
  .footer_links
    %span.footer_item
      %a{:href => "http://www.zendesk.com"} Zendesk
    %span.footer_item
      %a{:href => "http://www.zendesk.com/signup"} Signup
    %span.footer_item
      %a{:href => "http://www.zendesk.com/integrations"} Integrations
    %span.copyright
      &copy;2012 Zendesk

