!!! 5
%html
  %head
    // Bootstrap
    %link{:rel => "stylesheet", :href => url("/stylesheets/styles.css"), :type => "text/css"}

    // developers.zendesk.com Mods
    // Stored locally because it's Non-SSL
    // %link{:rel => "stylesheet", :href => "http://developer.zendesk.com/stylesheets/screen.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => url("/stylesheets/developer.screen.css"), :type => "text/css"}

    // Our mods
    %link{:rel => "stylesheet", :href => url("/stylesheets/screen.css"), :type => "text/css"}

    %link{:rel => "stylesheet", :href => "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css", :type => "text/css"}

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"}

    %script{:src => url("/javascripts/bootstrap-alert.js")}
    %script{:src => url("/javascripts/application.js")}

    %title Zendesk API
  %body
    = haml :header

    .container
      .row-fluid
        .span12.frame.well#navigation
          %ul.nav.nav-pills
            %li.active
              %a.tab-link#throw-tab-link{:href => "#"}
                Try the API
            %li
              %a.tab-link#help-tab-link{:href => "#documentation"}
                Documentation
      .row-fluid
        .span12.frame.well.tab#throw-tab
          = yield
      .row-fluid
        .span12.frame.well.hide.tab#help-tab
          = haml :search

    = haml :footer
