%div
  %input.input-small{:name => "params[][name]", :value => param["name"], :placeholder => "per_page"}
  %input.input-large{:name => "params[][value]", :value => param["value"], :placeholder => "5"}
  %i.icon-remove.remove-param
