%div
  %input.input-small{:name => "params[][name]", :value => param["name"], :placeholder => "name"}
  %input.input-large{:name => "params[][value]", :value => param["value"], :placeholder => "value"}
  %i.icon-remove.remove-param
