#search
  .input-append
    %input{:type => "text", :placeholder => "try: users", :name => "query"}
    %button.btn#clear-search
      %i.icon-remove

  #search-results= ZendeskAPI::Server::HtmlRenderer.render(help)
