#search
  .input-append
    %input.input-block-level{:type => "text", :placeholder => "try: users", :name => "query"}
    %button.btn#clear-search
      %i.icon-remove

  .alert.alert-info
    %button.close{:type => "button", "data-dismiss" => "alert"} x
    Begin typing and you should be able to see a list of available resources to view
    %br
    To go to a specific action, add the header name to the end e.g. users#list-users


  #search-results= settings.help

:javascript
  $("#search input").autocomplete({
    source: #{settings.autocomplete.to_json},
    minLength: 3,
    select: function(event, ui) {
      search(ui.item.value);
    }
  });
