%ul.nav.nav-pills
  %li
    %a{:href => "http://zendesk.com"} Zendesk
  %li
    %a{:href => "http://developer.zendesk.com"} Documentation
  %li
    %a{:href => "http://github.com/zendesk/zendesk_api_client_rb"} Ruby API Client
